 <!-- Main Content -->
 <section class="container mx-auto my-8 bg-secondary p-6">
  <div class="rounded relative flex flex-col">
    <div class="font-bold mb-6">Upload Video</div>

    <app-alert *ngIf="showAlert" [color]="alertColor">
      <div class="flex flex-col items-center">
        <p class="mb-4 text-xl">{{alertMessage}}</p>
        <div class="flex flex-col items-center" *ngIf="alertColor == 'blue'">
          <div class="w-80 bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
            <div class="bg-gray-600 h-2.5 rounded-full dark:bg-gray-300" [ngStyle]="{'width': getProgress()}"></div>
          </div>
          <p class="text-xl">{{progressCounter | percent}}</p>
        </div>
        
      </div>
    </app-alert>

    <ng-container *ngIf="!ffmpegService.isReady; else wholeUploadForm">
       <span class="material-icons text-center text-6xl p-8 animate-spin">settings</span>    
    </ng-container>

    <ng-template #wholeUploadForm>
        <!-- Upload Dropbox -->
        <ng-container *ngIf="!nextStep; else nextStepForm">
          <div app-event-blocker
          (drop)="storeFile($event)"
          (dragover)="isDragover=true"
          (dragend)="isDragover=true"
          (dragenter)="isDragover=false"
          (dragleave)="isDragover=false"
          (mouseleave)="isDragover=false"
          [ngClass]="{
            'bg-indigo-400 border-indigo-400 border-solid' : isDragover
          }"
          class="w-full px-10 py-40 rounded text-center cursor-pointer border border-dashed
            border-gray-400 transition duration-500 hover:text-white
            hover:bg-indigo-400 hover:border-indigo-400 hover:border-solid text-xl">
          <h5>Drop your file here (mp4 only!)</h5>
          <span *ngIf="ffmpegService.isRunning" class="material-icons text-center text-6xl p-8 animate-spin">autorenew</span> 
        </div>
        <input type="file" class="mt-4" (change)="storeFile($event)"/>
        </ng-container>
    
        <!-- Video Editor -->
        <ng-template #nextStepForm>

          <!-- Form -->
          <form [formGroup]="uploadForm" (ngSubmit)="uploadFile()">
            <!-- Screenshots -->
            <h2 class="mb-4 text-xl">Select a Thumbnail</h2>
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
              <div *ngFor="let screenShotURL of screenShotURLs" [ngClass]="{'border-8 border-green-400' : screenShotURL === selectedScreenShot}" class="cursor-pointer" (click)="selectedScreenShot = screenShotURL">
                <img [src]="screenShotURL | safeURL">
              </div>
            </div>

            <!-- Title -->
            <div class="mt-4">
              <label class="block text-xl mb-4">Title</label>
              <app-input type="text" placeholder="Enter the title" [control]="title"></app-input> 
            </div>

            <div class="mt-4 text-right">
              <button [disabled]="isSubmission" type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none disabled:opacity-50 disabled:bg-indigo-400">
                Publish
              </button>
            </div>
          </form>
        </ng-template>
    </ng-template>

    
  </div>
</section>